html,body {
	margin: 0;
	color: #c0c0c0;
	font-size: 12px;
	overflow: hidden;
	background: transparent;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}

::-webkit-scrollbar { width: 0; }
::selection { background: transparent; }
::-moz-selection { background: transparent; }

#displayHud {
	top: 0;
	right: 0;
	width: 310px;
	display: none;
	padding: 20px;
	min-height: 100%;
	max-height: 100%;
	position: absolute;
	background: #00000000;
}

#buttons {
	float: left;
	height: 7vh;
}

#vehList {
	float: left;
	height: 88vh;
	overflow-y: scroll;
}

#spawnVehicle {
	float: left;
	width: 120px;
	padding: 15px;
	color: #95c5ab;
	border-radius: 10%;
	margin-bottom: 5px;
	background: #03fe7885;
	letter-spacing: .3px;
}

#spawnVehicle:hover {
	background: #02fc76d8;
	border-radius: 14%;
}

#storeVehicle {
	float: left;
	width: 120px;
	padding: 15px;
	color: #d89898;
	margin-left: 10px;
	border-radius: 10%;
	margin-bottom: 5px;
	background: #ff000098;
	letter-spacing: .3px;
}

#storeVehicle:hover {
	background: #ff0101c2;
	border-radius: 14%;
}

#spawnVehicle b, #storeVehicle b {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: .5px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
}

#vehicleName {
	float: left;
	width: 280px;
	padding: 15px;
	color: #cacaca;
	font-size: 11px;
	background: #fea900;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-top: 8%
}

.vehicle {
	float: left;
	width: 270px;
	color: #ffffff;
	margin-bottom: 15px;
	background: #ffa60063;
	padding: 10px 20px 20px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.vehicle:hover{
	border-radius: 5%;
}

.vehicle:last-child {
	margin-bottom: 0;
}

.vehicle.active {
	background: #fb8f0376;
	color: #000000;
	text-shadow: 1px 1px #ffffff
}

#vehicleLegend {
	width: 70px;
	float: left;
	margin-top: 10px;
	letter-spacing: .9px;
	font-weight: 300;
	text-shadow: 1px 1px #000;
}

#vehicleBack {
	float: left;
	height: 8px;
	width: 200px;
	margin-top: 14px;
	margin-bottom: 2px;
	border-radius: 4px;
	background: #3f3f3f;
}

#vehicleProgress {
	float: left;
	height: 8px;
	width: 100px;
	border-radius: 10%;
	background: #2ff004b6;
}