endpoint_add_tcp "172.31.17.95:30120"
endpoint_add_udp "172.31.17.95:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=creative"
#set mysql_debug "Console"

sv_scriptHookAllowed 0




sets tags "Brasil,BR,PT,LGBT,RP,Creative"

sets locale "pt-BR" 



#sets banner_detail "https://cdn.discordapp.com/attachments/1009037422769754117/1042641559553839185/ipanemaconnect.gif"
#sets banner_connecting "https://cdn.discordapp.com/attachments/1009037422769754117/1042641559553839185/ipanemaconnect.gif"


sv_hostname "Ipanema RJ"
sets sv_projectName "Ipanema RJ"
sets sv_projectDesc "Melhor base do mercado discord.gg/Xg8cZhcPbT"

exec resources/resources.cfg

load_server_icon server.png

# sv_master1 "Ipanema RJ"


sv_endpointprivacy true

add_ace group.admin command allow 
add_ace group.admin command.quit deny 
add_principal identifier.steam:11000013fef54f8 group.admin
#--=======================================================================--#
#--=[ PARA VOICES FUNCIONAR NORMALMENTE ]==============================--#
#--=======================================================================--#
setr voice_useNativeAudio true
setr voice_use2dAudio false
setr voice_use3dAudio true
setr voice_useSendingRangeOnly true

#--=======================================================================--#
#--=[ CONFIGURAÇÕES ONESYNC ]==========================================--#
#--=======================================================================--#
# set onesync on
# set onesync_distanceCullVehicles false
# set onesync_forceMigration false
onesync_enabled true
onesync_enableInfinity 1
onesync_distanceCullVehicles true
onesync_forceMigration true


#set sv_enforceGameBuild 2189

sv_maxclients 5

set steam_webApiKey "B68449817E09A4FD2DF12DE82739B6E6"

sv_licenseKey cfxk_HHmWcqmtx5vG8dEBEzRR_1oBqtk 