* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;

}

body {
    height: 100vh;
    width: 100vw;
    /* background-image: url(https://cdn.discordapp.com/attachments/712754778018545767/880616490812964884/unknown.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.page {
    max-height: 702.54px;
    height: 702.54px;
    width: 950px;
    background: rgba(37, 40, 54, 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* -------------------------------------------------------------------- */

.menuAside {
    height: 100%;
    min-width: 80px;
    background-color: #272434;
    border-radius: 10px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    box-shadow: 10px 0px 40px rgba(0, 0, 0, 0.178);
}

.buttonsMenu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menuUnit {
    height: 85px;
    width:  65px;
    background-image: url(../images/menu_pattern.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    cursor: pointer;
}

.menuBttn {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3.77284px;
    margin-right: 10px;
    transition: all .5s;
    margin-left: 5px;
}

.menuBttn:hover img {
    transform: scale(1.1);
}

.menuBttn img {
    height: 20px;
    transition: all .5s;

}

.activeMenuBttn {
    background-color: #BD00FF;
    box-shadow: 0px 0px 15px rgba(189, 0, 255, 0.49);
}

.activeMenuBttn img {
    filter: invert(1) grayscale(1);
    opacity: 90%;
}

.exitBttn {
    height: 40px;
    width: 40px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F1D2B;
    border-radius: 10px;
}

.exitBttn img {
    height: 15px;
}

/* ------------------------------------------------------------------ */

.mainContent {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.backStyle {
    height: 702.54px;
    width: 868px;
    background: radial-gradient(42.99% 42.99% at 30.18% 57.01%, #9307ff8a 0%, #ff989877 100%) !important;
    filter: blur(1000.366px);
    border-radius: 1227.47px;
    transform: rotate(-154.28deg);
    overflow: hidden;
    position: absolute;
    align-self: center;
    z-index: -1;
    opacity: 80%;
    margin-top: 200px;
}

.main-container {
    height: 100%;
    width: 100%;
}

@keyframes fade {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.fade {
    animation-name: fade;
    animation-duration: 0.6s;
    animation-fill-mode: backwards;
}

.FastFade {
    animation-name: fade;
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
}

@keyframes hide {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

.hide {
    animation-name: hide;
    animation-duration: 0.6s;
    animation-fill-mode: backwards;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    max-width: 35px;

    align-self: center;
    height: 20px;
    margin-left: 10px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.13);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom:3px;
    background-color: rgba(255, 255, 255, 0.329);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #740D9D;
}


input:checked + .slider:before {
    transform: translateX(13.5px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}


.bttn-container {
    display: flex;
    min-height: 40px;
    padding: 0px 40px;
    margin: 20px 0px;
}

.bttn {
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    margin-right: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;

    transition: all .5s;
    font-size: 14px;
}



.cancelBttn {
    border: solid 2px #bb00ff62;
    color: #BD00FF;
}

.saveBttn {
    background-color: #bb00ff83;
    margin-right: 20px;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0px 0px 11.3185px rgba(189, 0, 255, 0.55);
    font-weight: 400;
}   

.saveBttn:hover {
    background-color: #BD00FF;
}

.cancelBttn:hover {
    border: solid 2px #BD00FF;
    color: #BD00FF;
}

::-webkit-scrollbar {
    width: 0px !important;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
    border-radius: 100px;

}

::-webkit-scrollbar-thumb {
    background: #1f1d2b00;
    border: solid 1px rgba(255, 255, 255, 0.103);
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0);
    border-radius: 100px;

}

@keyframes glow {
    100%, 0% {
        filter: drop-shadow(0px 0px 80px #BD00FF)
    }

    50% {
        filter: drop-shadow(0px 0px 40px #bb00ff88)

    }
}


@keyframes appear {
    0% {
        opacity: 0%;
        transform: translateY(-120%) scale(0.8);
    }

    100% {
        opacity: 100%;
        transform: translateY(0%) scale(1);
    }

}

@keyframes disappear {
    0% {
        opacity: 0%;
        transform: translateY(0%) scale(1);
    }

    100% {
        opacity: 100%;
        transform: translateY(-120%) scale(0.8);
    }

}

.appear {
    animation-name: appear;
    animation-duration: 0.6s;
    animation-fill-mode: backwards;
}

.disappear {
    animation-name: disappear;
    animation-duration: 0.6s;
    animation-fill-mode: backwards;
}


.configUnit {
    height: 100%;
    width: 32.1%;
    background: #1F1D2B;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px rgba(255, 255, 255, 0.055);
    margin-bottom: 20px;
}

.configUnit header {
    height: 45px;
    width: 100%;
    background-color: #740D9D;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    
}

.configUnit header img {
    height: 15px;
    opacity: 90% !important;
    filter: drop-shadow(0px 0px 5px white);
    transition: all .5s;
    cursor: pointer;
}

.configUnit header img:hover {
    transform: scale(1.1)
}

.getLocalCdsBttn img {
    height: 20px;
    opacity: 90% !important;
}


@keyframes notify_appear {
    from {
        transform: translateX(100%) scale(0.5);
    }

    to {
        transform: translateX(0%) scale(1);
    }
}

.notify_appear {
    animation-name: notify_appear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards; 
}

@keyframes notify_disappear {
    from {
        transform: translateX(0%) scale(1);
        opacity: 100%;
    }

    to {
        transform: translateX(100%) scale(0.5);
        opacity: 0%;

    }
}

.notify_disappear {
    animation-name: notify_disappear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards; 
}

/* -------------------------------------------- */


.notify-container {
    height: 100%;
    max-width: 200px;
    
    position: absolute;
    top: 0px;
    right: 0px;

    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    padding: 20px;
    
}

.notify {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(4,3,46,1) 10%, rgba(23,15,72,1) 90%, rgba(255,255,255,0) 100%);
    padding: 10px 20px;

    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.438));
}

.bindContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bind {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100px;
    font-family: 'Barlow';
}

.bind h1 {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.603);
    height: 30px;
}

.bind p {
    color: rgba(255, 255, 255, 0.603);
    font-size: 12px;
}

.message {
    font-family: 'Barlow';
    color: rgba(255, 255, 255, 0.603);
    max-width: 200px;
    margin-bottom: 10px;
    text-align: center;
}

.backBttn {
    min-height: 40px;
    width: 130px;
    
    background-color: transparent;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 20px 40px;

    border-radius: 8px;
    
    cursor: pointer;
    
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 14px;

    transition: all .5s;

    border: solid 2px #bb00ff62;
    color: #BD00FF;
}

.backBttn:hover {
    border: solid 2px #BD00FF;
    color: #BD00FF;
}

.messageNotify img {
    height: 20px;
    margin-right: 20px;
    opacity: 80% !important;
}



@keyframes kill_appear {
    from {
        transform: translateX(-100%) scale(0.5);
    }

    to {
        transform: translateX(0%) scale(1);
    }
}

.kill_appear {
    animation-name: kill_appear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards; 
}

@keyframes kill_disappear {
    from {
        transform: translateX(0%) scale(1);
        opacity: 100%;
    }

    to {
        transform: translateX(-100%) scale(0.5);
        opacity: 0%;

    }
}

.kill_disappear {
    animation-name: kill_disappear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards; 
}

.killedGunIcon {
    opacity: 100% !important;
}

@keyframes winAnimation_appear {
    from {
        transform: translateY(-100%) scale(0.5);
        opacity: 0%;
    }

    to {
        transform: translateY(0%) scale(1);
        opacity: 100%;

    }
}

.winAnimation_appear {
    animation-name: winAnimation_appear;
    animation-duration: 1000ms;
    animation-fill-mode: forwards; 
}

@keyframes winAnimation_disappear {
    from {
        transform: translateY(0%) scale(1);
        opacity: 100%;
    }

    to {
        transform: translateY(-100%) scale(0.5);
        opacity: 0%;

    }
}

.winAnimation_disappear {
    animation-name: winAnimation_disappear;
    animation-duration: 1000ms;
    animation-fill-mode: forwards; 
}

.arrows-icons {
    opacity: 80% !important;
}

.flagIcon {
    opacity: 80% !important;
}

.activeMenuBttnGame img {
    filter: invert(1) grayscale(1) !important;
    opacity: 90% !important;
}

.activeMenuBttnGame img {
    filter: invert(1) grayscale(1) !important;
    opacity: 100% !important;
}